.header{
    background-color: #73B4D4;
}
.header center{
    font-famil:arial,serif;
    font-size: 50px;
    color:aliceblue;
}
.header img{
    height: 80px;
}
.navbar navbar-inverse navbar-fixed-bottom{
    position: relative;
    top: auto;
}